<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <link href="./assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="app">
    <div class="product-image">
      <img v-bind:src="image" />
    </div>

    <div class="product-info">
      <h1>{{ product }}</h1>
      <p v-if="inStock">In stock</p>
      <p 
        v-else 
        :class="{ lineThrough: !inStock }">Out of Stock</p>
      
      <button 
          @click="addToCart" 
          :disabled="!inStock"
          :class="{ disabledButton: !inStock }">Add to cart </button>
      <button @click="cart > 0 ? cart--  : 0">Remove from cart</button>

      <ul>
        <li v-for="detail in details">{{ detail }}</li>
      </ul>
      <div v-for="variant in variants" 
          class=""
          :key="variant.variantId" 
          :style="{ 'backgroundColor': variant.variantColor }"
          @mouseover="updateProduct(variant.image)">
      </div>

      <div class="cart">
        <p>Cart {{ cart }}</p>
      </div>
    </div>

  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="./src/main.js"></script>
</body>

</html>