body {
  font-family: tahoma;
  color:#282828;
  margin: 0px;
}
.nav-bar {
  background: linear-gradient(-90deg, #84CF6A, #16C0B0);
  height: 60px;
  margin-bottom: 15px;
}

.tabs {
  margin-top: 20px;
  cursor: pointer;
}

.tab {
  cursor: pointer;
  padding: 0.5em;
  border: 1px solid;
  margin-right: 10px;
}
.activeTab {
  color: #16C0B0;
  text-decoration: underline;
}